.hero {
  color: $primaryBackgroundColor;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.overlay {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 58, 52, 0.4), rgba(47, 58, 52, 0.4)),
    url(../images/overlay-mobile.jpg);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 58, 52, 0.4), rgba(47, 58, 52, 0.4)),
      url(../images/overlay-mobile@2x.jpg);
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 58, 52, 0.4), rgba(47, 58, 52, 0.4)),
      url(../images/overlay-tablet.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(to right, rgba(47, 58, 52, 0.4), rgba(47, 58, 52, 0.4)),
        url(../images/overlay-tablet@2x.jpg);
      background-size: cover;
    }
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 58, 52, 0.4), rgba(47, 58, 52, 0.4)),
      url(../images/overlay-desktop.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(to right, rgba(47, 58, 52, 0.4), rgba(47, 58, 52, 0.4)),
        url(../images/overlay-desktop@2x.jpg);
      background-size: cover;
    }
  }
}
.hero__title {
  margin-bottom: 30px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
  }
}

.hero__button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
}
