.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: #000000;
  text-decoration: none;
}
.logo__text {
  color: $linkHoverColor;
}
.footer__logo {
  padding: 0;
  margin-bottom: 28px;
}
.logo__text--footer {
  color: $primaryBackgroundColor;
}
