$primaryBackgroundColor: #ffffff;
$secondaryBackgroundColor: #f5f4fa;
$primaryTextColor: #757575;
$secondaryTextColor: #212121;
$heroBackgroungColor: #2f303a;
$buttonBackgroundColor: #2196f3;
$iconsBackgraundColor: rgba(255, 255, 255, 0.1);
$linkHoverColor: #2196f3;
$buttonHoverColor: #188ce8;
$borderHero: 1px solid #000000;
$buttonBorderRadius: 4px;
$cardsBorderRadius: 0px 0px 4px 4px;
$featuresSetGap: 30px;
